html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}
canvas {
  top: 0;
  display: block;
  image-rendering: pixelated;
}

.grain {
  position: absolute;
  background-image: url("../images/source.gif");
  mix-blend-mode: hard-light;
  opacity: 0.1;
  width: 6%;
  background-size: 10px 10px;
  
  transform: scale3d(20, 20,1);
  transform-origin: top left;
  
  /* background-size: cover; */
  image-rendering: pixelated;
  height: 6%;
}
